* {
  box-sizing: border-box;
}

.input_container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#range {
  margin-right: 10px;
}

.visual_container {
  display: flex;
  justify-content: center;
}

.visual_box {
  margin-top: 30px;
  width: 30px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid black;
}

.block:nth-child(2) {
  background: red;
}

.block:last-child {
  background: green;
}
