* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 250px;
  position: fixed;
  transition: all .5s;
}

form:nth-child(odd) {
  left: -250px;
}

form:nth-child(even) {
  left: 100%;
}

form.center {
  left: 50%;
  transform: translateX(-50%);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

label {
  margin-bottom: 10px;
}

button {
  width: 80px;
}
