* {
  box-sizing: border-box;
}

table {
  border: 1px solid aquamarine;
  width: 90%;
  border-spacing: 10px;
  margin: auto;
}

td {
  border: 1px solid red;
  height: 100px;
}

.show {
  display: grid;
}
