* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.enter {
  margin-bottom: 10px;
}

.signin {
  display: inline;
  width: 80px;
}

.goods {
  margin: 20px auto;
  padding: 25px;
  background-color: aquamarine;
  text-align: center;
}
